<div class="cal-week-box">
	<div class="cal-row-fluid">
		<% _.each(days_name, function(name) { %>
			<div class="cal-cell1 cal-cell <%= cal._getDayClass('week', start) %>" data-toggle="tooltip" title="<%= cal._getHolidayName(start) %>">
				<span data-cal-date="<%= start.getFullYear() %>-<%= start.getMonthFormatted() %>-<%= start.getDateFormatted() %>"><%= start.getDate() %></span>
				<%= name %>
				<%= cal._dayWeek(start, start.getDate()) %>
			</div>
			<% start.setDate(start.getDate() + 1); %>
		<% }) %>
	</div>
</div>
